---
import Layout from "layouts/Layout.astro";
import Bars from "components/election/Bars";
import Bootstrap from "components/Bootstrap";
---

<Bootstrap client:load>
    <Layout title="votingAreas Widget">
        <h2>Election</h2>

        <Bars client:only="react" />

        <Bars client:only="react" />

        <Bars client:only="react" />
    </Layout>
</Bootstrap>
