---
import Layout from "layouts/Layout.astro";
import VotingAreasWidget from "widgets/VotingAreasWidget";
---

<Layout title="Bars Widget">
    <h2>Voting Areas</h2>
    <VotingAreasWidget client:only="react" />
</Layout>
