---
import Layout from "layouts/Layout.astro";
import PokemonView from "components/pokemon/View";
---

<Layout title="Pokemon View">
  <div>
    <h1>View</h1>
    <a href="../pokemon">{"<-- Back to list"}</a>
  </div>
  <PokemonView client:only="react" />
</Layout>
