<div id="dpa-container"></div>

<script is:raw>
    var ifrm = document.createElement("iframe");
    ifrm.setAttribute("src", "/");
    ifrm.style.width = "640px";
    ifrm.style.height = "480px";
    document.getElementById("dpa-container")?.appendChild(ifrm);
</script>
